<h2>All Superheroes</h2>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero %>
    </li>
    <br>
  <% end %>
</ul>


  <%= form_tag( "" , method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= collection_select(:superhero, :superpower_id, Superpower.all, :id, :name)%>
    <%= submit_tag("Search") %>
  <% end %>
