<h2>All Superheroes</h2>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:superpower, "Search for:") %>
  <%= text_field_tag(:superpower) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
