<h2>All Superheroes</h2>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", ) %>
<% end %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%=link_to superhero.super_name, superhero %>
    </li>
    <br>
  <% end %>
</ul>

<%= button_to "New", action: "new", method: 'get' %>
