<h2>All Superheroes</h2>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search by superpower: ") %>
  <%= select_tag(:q, options_from_collection_for_select(Superpower.all, :name, :name)) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
<br>
<%= button_to "Create a Hero",  new_superhero_path, method: :get %>
<br>
