<% if @superhero.errors.any? %>
  <ul>
    <% @superhero.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Create A Super Hero:</h1>

<%= form_for @superhero do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :super_name %><br>
  <%= f.text_field :super_name %>
  <br><br>
  <%= f.label :superpower %><br>
  <%= f.collection_select :superpower_id, Superpower.all, :id, :name, :prompt => true %>
  <br><br>
  <%= f.submit %>

<% end %>
