<h1>Create Super Hero:</h1>

<%= form_for @superhero do |f| %>

  <% if @superhero.errors.any? %>
    <% @superhero.errors.full_messages.each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul>
    <% end %>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :super_name %><br>
  <%= f.text_field :super_name %><br>

  <%= f.label :superpower_id %><br>
  <%= f.collection_select :superpower_id, Superpower.all, :id, :name %><br>

  <%= f.submit "Create Superhero"%>
<% end %>
