<h1> Make a new Superhero!</h1>

<% @superhero.errors.each do |error| %>
  <p>That super name is already taken-- try again!</p>
<% end %>

<%= form_for @superhero do |f| %>
  <%= f.label :name %><br<>
  <%= f.text_field :name %><br><br>
  <%= f.label :super_name %>
  <%= f.text_field :super_name %><br><br>

  <%= f.collection_select :superpower_id, Superpower.all, :id, :name %><br><br>
  <%= f.submit "Add Superhero" %>
<% end %>
