<h1>Create Superhero</h1>
<br>
<br>

<%= form_for(@superhero, url: {action: "create"}) do |f| %>
  <%= f.label :name  %>
  <br>
  <%= f.text_field :name%>
  <br>
  <%= f.label :super_name  %>
  <br>
  <%= f.text_field :super_name%>
  <br>
  <%= f.submit %>
<% end %>
