<h2>Create Super Hero:</h2>
<% if @superhero.errors.any? %>
	<ul>
	<% @superhero.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @superhero do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br/>
  <%= f.label :super_name %><br/>
  <%= f.text_field :super_name %><br/>
  <%= collection_select(:superhero, :superpower_id, Superpower.all, :id, :name)%>
  <%= f.submit %>
<% end %>
