<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <%= link_to "Superheroes", superheroes_path %>
        <%= link_to "Superpowers", superpowers_path %>
        <%= link_to "Create A Superhero", new_superhero_path %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
